<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <thead>
        <tr></tr>
    </thead>

    <form action="">

        <input type="text">
        <select name="" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

    </form>
    <button type="submit"></button>
    </tbody>
    <a href=""></a>

</body>

</html>